<div class="skillsTab">
  <button class="addButton" mat-icon-button (click)="addSkill()">+</button>
  <table mat-table [dataSource]="skillsSources" class="mat-elevation-z8">
    <ng-container matColumnDef="Nom" sticky>
      <th mat-header-cell *matHeaderCellDef> Nom </th>
      <td mat-cell *matCellDef="let skills" (click)="changeSkill(skills)"> {{skills.name}} </td>
    </ng-container>
    <ng-container matColumnDef="Synonymes" sticky>
      <th mat-header-cell *matHeaderCellDef> synonymous </th>
      <td mat-cell *matCellDef="let skills" (click)="changeSkill(skills)"> {{skills.synonymous}} </td>
    </ng-container>
    <ng-container matColumnDef="Remplacer par" sticky>
      <th mat-header-cell *matHeaderCellDef> replace </th>
      <td mat-cell *matCellDef="let skills" (click)="changeSkill(skills)"> {{skills.replace}} </td>
    </ng-container>
    <ng-container matColumnDef="Delete" sticky>
      <th mat-header-cell *matHeaderCellDef> Supression </th>
      <td mat-cell *matCellDef="let skills" (click)="removeSkill(skills)"> <i class="material-icons">
          delete
        </i> </td>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="displayedSkillColumns" sticky></tr>
    <tr mat-row *matRowDef="let row; columns: displayedSkillColumns;"></tr>
  </table>
</div>