<h2 mat-dialog-title>{{description}}</h2>

<mat-dialog-content [formGroup]="form">

  <mat-form-field>
    <input matInput placeholder="Nom" formControlName="name" (keyup)="onChange($event)">
  </mat-form-field>
  <mat-form-field>
    <input matInput placeholder="Prénom" formControlName="prenom">
  </mat-form-field>
  <mat-form-field>
    <input matInput id="email" type="email" placeholder="Email" [(ngModel)]="emailInput"
      (ngModelChange)="emailChanged($event)" required pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})"
      #test="ngModel" (input)="checkEnableCreateButton()">
    <mat-error *ngIf="test.invalid && test.errors.pattern">L'email doit être valide.</mat-error>
    <mat-error *ngIf="test.invalid && test.errors.required">L'email est obligatoire.</mat-error>
  </mat-form-field>
  <mat-form-field>
    <mat-label>Rôle</mat-label>
    <mat-select>
      <mat-option *ngFor="let food of foods" [value]="food.value">
        {{food.viewValue}}
      </mat-option>
    </mat-select>
  </mat-form-field>
  <p class="errorMessage"> {{ errorMessage }} </p>
  <button class="mat-raised-button" (click)="resetPass()">Réinitialiser le mot de passe</button>

</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Fermer</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Enregistrer</button>
</mat-dialog-actions>