<div class="header">
  <nav class="navbar mb-2 pr-5 navbar-light rounded-0">
    <div class="collapse navbar-collapse" class="headNavbar">
      <ul class="navbarContent">
        <ng-container *ngIf="isDone()">
          <ng-container *ngFor="let module of modules">
            <ng-container *ngIf="module.label === getCurrentModule()">
              <ng-container *ngFor="let menu of module.menus">
                <ng-container *ngIf="menu.hasOwnProperty('subSubMenus'); else elseBlock">
                  <li class="nav-item dropdown headMenu">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdown02" data-toggle="dropdown"
                      aria-haspopup="true" aria-expanded="false">{{menu.label}}</a>
                    <div class="dropdown-menu" aria-labelledby="dropdown02">
                      <a class="dropdown-item" *ngFor="let submenu of menu.subSubMenus"
                        (click)="sendAction(submenu.action)" href="#">{{submenu.label}}</a>
                    </div>
                  </li>
                </ng-container>
                <ng-template #elseBlock>
                  <div>
                  <ng-container *ngIf="menu.hasOwnProperty('Acceuil');">
                    <img class="closeTag" src='../../assets/images/home_icon.svg' (click)="redirectionhome">
                  </ng-container>
                </div>
                </ng-template>
              </ng-container>
            </ng-container>
          </ng-container>
        </ng-container>
      </ul>
    </div>

  </nav>
</div>