<div class="login-page">
  <div class="form">
    <h1>Inscription</h1>
    <form [formGroup]="validationForm" (submit)="onSignup()" class="signup-form">
      <div class="md-form">
        <label for="inputName" class="sr-only">userName</label>
        <input type="text" id="inputName" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && validationFormControls.name.errors }"
        placeholder="nom" autofocus>
        <div *ngIf="submitted && validationFormControls.name.errors" class="invalid-feedback">
          <p>
            <span *ngIf="validationFormControls.name.errors.required">Le nom est requis</span>
          </p>
        </div>
      </div>
      <div class="md-form">
        <label for="inputFirstName" class="sr-only">userFirstName</label>
        <input type="text" id="inputFirstName" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && validationFormControls.firstname.errors }"
        placeholder="prénom" autofocus>
        <div *ngIf="submitted && validationFormControls.firstname.errors" class="invalid-feedback">
          <p>
            <span *ngIf="validationFormControls.firstname.errors.required">Le prénom est requis</span>
          </p>
        </div>
      </div>
      <div class="md-form">
        <label for="inputEmail" class="sr-only">userEmail</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && validationFormControls.email.errors }"
        placeholder="email" autofocus>
        <div *ngIf="submitted && validationFormControls.email.errors" class="invalid-feedback">
          <p>
            <span *ngIf="validationFormControls.email.errors.required">L'email est requis</span>
            <span *ngIf="validationFormControls.email.errors.email">L'adresse email est invalide</span>
          </p>
        </div>
      </div>
      <div class="md-form">
        <label for="inputPassword" class="sr-only">userPswd</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && validationFormControls.password.errors }"
        placeholder="mot de passe">
        <div *ngIf="submitted && validationFormControls.password.errors" class="invalid-feedback">
          <p>
            <span *ngIf="validationFormControls.password.errors.required">Un mot de passe est requis</span>
            <span *ngIf="validationFormControls.password.errors.minlength">Le mot de passe doit contenir au moins 8 caractères</span>
          </p>
        </div>
      </div>
      <div class="md-form">
        <label for="inputPasswordCheck" class="sr-only">userPswdCheck</label>
        <input type="password" id="inputPasswordCheck" class="form-control" formControlName="passwordCheck" [ngClass]="{ 'is-invalid': submitted && validationFormControls.passwordCheck.errors }"
        placeholder="confimer mot de passe">
        <div *ngIf="submitted && validationFormControls.passwordCheck.errors" class="invalid-feedback">
          <p>
            <span *ngIf="validationFormControls.passwordCheck.errors.required">Un mot de passe est requis</span>
            <span *ngIf="validationFormControls.passwordCheck.errors.mustMatch">Les mots de passe doivent être identiques</span>
          </p>
        </div>
      </div>
      <button class="login-button" (click)="onSignup()">Créer mon compte</button>
      <p class="message">Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
    </form>
  </div>
</div>
