<div class="login-page">
  <div class="form">
    <h1>Inscription</h1>
    <form [formGroup]="validatingForm" (submit)="onSignup()" class="signup-form">
      <div class="md-form">
        <label for="inputName" class="sr-only">userName</label>
        <input type="text" id="inputName" class="form-control" formControlName="name" [ngClass]="{ 'is-invalid': submitted && f.name.errors }"
               placeholder="nom" autofocus>
        <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
          <div *ngIf="f.name.errors.required">Le nom est requis</div>
        </div>
      </div>
      <div class="md-form">
        <label for="inputFirstName" class="sr-only">userFirstName</label>
        <input type="text" id="inputFirstName" class="form-control" formControlName="firstname" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }"
               placeholder="prénom" autofocus>
        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
          <div *ngIf="f.firstname.errors.required">Le prénom est requis</div>
        </div>
      </div>
      <div class="md-form">
        <label for="inputEmail" class="sr-only">userEmail</label>
        <input type="email" id="inputEmail" class="form-control" formControlName="email" [ngClass]="{ 'is-invalid': submitted && f.email.errors }"
               placeholder="email" autofocus>
        <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
          <div *ngIf="f.email.errors.required">L'email est requis</div>
          <div *ngIf="f.email.errors.email">L'adresse email est invalide</div>
        </div>
      </div>
      <div class="md-form">
        <label for="inputPassword" class="sr-only">userPswd</label>
        <input type="password" id="inputPassword" class="form-control" formControlName="password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }"
               placeholder="mot de passe">
        <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
          <div *ngIf="f.password.errors.required">Un mot de passe est requis</div>
          <div *ngIf="f.password.errors.minlength">Le mot de passe doit contenir au moins 8 caractères</div>
        </div>
      </div>
      <div class="md-form">
        <label for="inputPasswordCheck" class="sr-only">userPswdCheck</label>
        <input type="password" id="inputPasswordCheck" class="form-control" formControlName="passwordCheck" [ngClass]="{ 'is-invalid': submitted && f.passwordCheck.errors }"
               placeholder="confimer mot de passe">
        <div *ngIf="submitted && f.passwordCheck.errors" class="invalid-feedback">
          <div *ngIf="f.passwordCheck.errors.required">Un mot de passe est requis</div>
          <div *ngIf="f.passwordCheck.errors.mustMatch">Les mots de passe doivent être identiques</div>
        </div>
      </div>
      <button class="login-button" (click)="onSignup()">Créer mon compte</button>
      <p class="message">Vous avez déjà un compte ? <a routerLink="/login">Se connecter</a></p>
    </form>
  </div>
</div>
