<h2 mat-dialog-title>Création d'une nouvelle fiche</h2>

<mat-dialog-content>
  <mat-form-field>
    <input matInput placeholder="Nom" [ngModel]="lastname" (ngModelChange)="lastnameChanged($event)">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Prénom" [ngModel]="firstname" (ngModelChange)="firstnameChanged($event)">
  </mat-form-field>

  <mat-form-field>
    <input matInput id="email" type="email" placeholder="Email" [(ngModel)]="emailInput" (ngModelChange)="emailChanged($event)" required pattern="([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})" #test="ngModel">
    <mat-error *ngIf="test.invalid && test.errors.pattern">L'email doit être valide.</mat-error>
    <mat-error *ngIf="test.invalid && test.errors.required">L'email est obligatoire.</mat-error>
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Nom de la fiche" [(ngModel)]="skillsSheetName">
  </mat-form-field>

  <div class="slider">
    <p> Candidat </p>
    <mat-slide-toggle color="primary" [(ngModel)]="role"></mat-slide-toggle>
    <p> Consultant </p>
  </div>
</mat-dialog-content>

<div *ngIf="skillsSheetExists" class="alert alert-warning">
  <p class="mb-0">Une fiche existe déjà pour cet email.</p>
  <mat-dialog-actions class="mb-0">
    <button mat-button color="warn" (click)="cancel()">Annuler</button>
    <button mat-stroked-button color="primary" (click)="save(false)">Ouvrir la fiche</button>
  </mat-dialog-actions>
</div>
<div *ngIf="!skillsSheetExists">
  <mat-dialog-actions>
    <button mat-button color="warn" (click)="cancel()">Annuler</button>
    <button mat-stroked-button color="primary" (click)="save(true)">Créer la fiche</button>
  </mat-dialog-actions>
</div>
