<mat-tab-group>

  <mat-tab label="Données Applicatives">

    <mat-tab-group class="demo-tab-group">
      <!--Start Agency Panel-->
      <mat-tab label="Agences">
        <div class="agencyTab">
          <button class="addButton" mat-icon-button (click)="addAgency()">+</button>
          <table mat-table [dataSource]="agenciesSources" class="mat-elevation-z8">
            <ng-container matColumnDef="Nom" sticky>
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let agencies"
                (click)="changeAgency(agencies.name, agencies.place, agencies.placeType)"> {{agencies.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Lieu" sticky>
              <th mat-header-cell *matHeaderCellDef> Lieu </th>
              <td mat-cell *matCellDef="let agencies"
                (click)="changeAgency(agencies.name, agencies.place, agencies.placeType)"> {{agencies.place}} </td>
            </ng-container>
            <ng-container matColumnDef="Type de lieu" sticky>
              <th mat-header-cell *matHeaderCellDef> Type de lieu </th>
              <td mat-cell *matCellDef="let agencies"
                (click)="changeAgency(agencies.name, agencies.place, agencies.placeType)"> {{agencies.placeType}} </td>
            </ng-container>
            <ng-container matColumnDef="Delete" sticky>
              <th mat-header-cell *matHeaderCellDef> Supression </th>
              <td mat-cell *matCellDef="let agencies"
                (click)="deleteAgency(agencies.name, agencies.place, agencies.placeType)"> <i class="material-icons">
                  delete
                </i> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedAgencyColumns" sticky></tr>
            <tr mat-row *matRowDef="let row; columns: displayedAgencyColumns;"></tr>
          </table>
        </div>
      </mat-tab>
      <!--End Agency Panel-->

      <!--Start Soft Skill Panel-->
      <mat-tab label="SoftSkill">
        <div class="softSkillTab">
          <button class="addButton" mat-icon-button (click)="addSoftSkill()">+</button>
          <table mat-table [dataSource]="softSkillsSources" class="mat-elevation-z8">
            <ng-container matColumnDef="Nom" sticky>
              <th mat-header-cell *matHeaderCellDef> Name </th>
              <td mat-cell *matCellDef="let softSkills" (click)="changeSoftSkill(softSkills.name)"> {{softSkills.name}} </td>
            </ng-container>
            <ng-container matColumnDef="Delete" sticky>
              <th mat-header-cell *matHeaderCellDef> Supression </th>
              <td mat-cell *matCellDef="let softSkills"
                (click)="removeSoftSkill(softSkills)"> <i class="material-icons">
                  delete
                </i> </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="displayedsoftSkillsColumns" sticky></tr>
            <tr mat-row *matRowDef="let row; columns: displayedsoftSkillsColumns;"></tr>
          </table>
        </div>

      </mat-tab>
      <!--End Soft Skill Panel-->

      <!-- Start IQP-->
      <mat-tab label="IQP">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 data-toggle="collapse" data-parent="#accordion" href="#softSkills">
                Type d'engagement
              </h3>
            </div>
            <button class="addButton" mat-icon-button (click)="addSoftSkill()">+</button>
          </div>
          <ng-container *ngFor="let softSkill of getSoftSkills() ">
            <div id="softSkills" class="panel-collapse collapse in">
              <div class="panel-body">
                {{softSkill.name}} <button mat-raised-button (click)="updateSoftSkill(softSkill)">Modifier</button>
                <button class="removeButton" mat-icon-button (click)="removeSoftSkill(softSkill)">x</button>
              </div>
            </div>
          </ng-container>
        </div>

      </mat-tab>
      <!--End IQP Panel-->

      <!-- Start Secteur d'activité -->
      <mat-tab label="Secteur d'activité">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 data-toggle="collapse" data-parent="#accordion" href="#softSkills">
                secteur d'activité
              </h3>
            </div>
            <button class="addButton" mat-icon-button (click)="addSoftSkill()">+</button>
          </div>
          <ng-container *ngFor="let softSkill of getSoftSkills() ">
            <div id="softSkills" class="panel-collapse collapse in">
              <div class="panel-body">
                {{softSkill.name}} <button mat-raised-button (click)="updateSoftSkill(softSkill)">Modifier</button>
                <button class="removeButton" mat-icon-button (click)="removeSoftSkill(softSkill)">x</button>
              </div>
            </div>
          </ng-container>
        </div>

      </mat-tab>
      <!--End Secteur d'activité Panel-->

      <!-- Start Métiers -->
      <mat-tab label="Métiers">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 data-toggle="collapse" data-parent="#accordion" href="#softSkills">
                Métiers
              </h3>
            </div>
            <button class="addButton" mat-icon-button (click)="addSoftSkill()">+</button>
          </div>
          <ng-container *ngFor="let softSkill of getSoftSkills() ">
            <div id="softSkills" class="panel-collapse collapse in">
              <div class="panel-body">
                {{softSkill.name}} <button mat-raised-button (click)="updateSoftSkill(softSkill)">Modifier</button>
                <button class="removeButton" mat-icon-button (click)="removeSoftSkill(softSkill)">x</button>
              </div>
            </div>
          </ng-container>
        </div>

      </mat-tab>
      <!--End Métiers Panel-->

      <!-- Start notes (SoftSkill/Compétences) -->
      <mat-tab label="Notes (SoftSkill/Compétences)">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 data-toggle="collapse" data-parent="#accordion" href="#softSkills">
                notes (SoftSkill/Compétences)
              </h3>
            </div>
            <button class="addButton" mat-icon-button (click)="addSoftSkill()">+</button>
          </div>
          <ng-container *ngFor="let softSkill of getSoftSkills() ">
            <div id="softSkills" class="panel-collapse collapse in">
              <div class="panel-body">
                {{softSkill.name}} <button mat-raised-button (click)="updateSoftSkill(softSkill)">Modifier</button>
                <button class="removeButton" mat-icon-button (click)="removeSoftSkill(softSkill)">x</button>
              </div>
            </div>
          </ng-container>
        </div>

      </mat-tab>
      <!--End Métiers Panel-->

    </mat-tab-group>
  </mat-tab>

  <mat-tab label="Qualité de données">

    <mat-tab-group>
      <!--Start Coméptence Panel-->
      <mat-tab label="Compétences">

        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h3 data-toggle="collapse" data-parent="#accordion" href="#Compétence">
                Compétences
              </h3>
            </div>
            <button class="addButton" mat-icon-button (click)="addSoftSkill()">+</button>
          </div>

        </div>
        <!--End Compétence Panel-->
      </mat-tab>

    </mat-tab-group>

  </mat-tab>
</mat-tab-group>

<!-- -->
<div class="admin-app-data">
  <mat-tab-group class="demo-tab-group">







  </mat-tab-group>

  <!--
  <div class="synchroniserDiv">
    <h3>Synchroniser les villes, départements et région avec la base API Géo du gouvernement</h3>
    <button class="mat-raised-button" (click)="onClickSynchroniseGeoApi()">Synchroniser</button>
  </div>

  Arcordéon de données
  <div class="panel-group" id="accordion">


  </div>-->
</div>