.synchroniserDiv{
    margin-top: 5%;
    margin-bottom: 5%;
}

.panel-title{
    display: -webkit-inline-box;
}

.addButton{
    margin-left: 1%;
    background-color: #f3f3f3;
}

.removeButton{
    color: red;
}

#agencies{
    margin-bottom: 3%;
}

.panel-group .mat-raised-button{
    margin-left : 1%;
}