<div class="admin-app-data">
  <h1>Qualités de données</h1>

  <div class="synchroniserDiv">
    <h3>Synchroniser les villes, départements et région avec la base API Géo du gouvernement</h3>
    <button class="mat-raised-button" (click)="onClickSynchroniseGeoApi()">Synchroniser</button>
  </div>

  <!--Arcordéon de données-->
  <div class="panel-group" id="accordion">
    <!--Start Agency Panel-->
    <div class="panel panel-default">
      <div class="panel-heading">
        <div class="panel-title">
          <h3 data-toggle="collapse" data-parent="#accordion" href="#agencies">
            Agences 
          </h3>
        </div>
        <button class="addButton" mat-icon-button (click)="addAgency()">+</button>
        <hr>
      </div>
      <ng-container *ngFor="let agency of getAgencies() ">
        <div id="agencies" class="panel-collapse collapse in">
          <div class="panel-body">
            {{agency.name}} : {{agency.place}} <button mat-raised-button
              (click)="updateAgency(agency)">Modifier</button> <button class="removeButton" mat-icon-button (click)="removeAgency(agency)">x</button>
          </div>
        </div>
      </ng-container>
    </div>
    <!--End Agency Panel-->
  </div>
</div>