.currentSheetInfo {
  margin-left: 2%;
  text-align: left;
}

.currentSheetInfo button {
  margin: auto;
}

.currentSheetInfo p {
    margin: 0;
}

.skillsSheetNameDiv {
  max-width: 100%;
  width: fit-content;
  border: 1px solid var(--ALTENGray);
}

.labelInfos {
  text-align: left;
  margin: 3%;
}

.availabilityTitle {
  text-align:left;
  margin-top: 3%;
}

.availability-container {
  display: grid;
  grid-template-columns: 7fr 1fr;
  border-bottom: 1px solid var(--ALTENLightGray);
}

.editButton:focus, .cancelButton:focus, .savePersonButton:focus, .newAvailabilityButton, .editAvailabilityButton{
  outline: none;
}

.editIcon {
  color: var(--ALTENDarkGray);
}

.cancelIcon {
  color: red;
}

.savePersonIcon {
  color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.infoForm {
  display: flex;
  flex-direction: column;
  padding: 1% 2% 0 2%;
  border-right: 1px solid var(--ALTENBlue);
}

.skillsArrayTitle {
  border-bottom: 1px solid var(--ALTENBlue);
  margin-bottom: 2%;
}

.mat-form-field {
  font-size: 80%;
}

.skillsArrays {
  display: flex;
  flex-direction: column;
  padding: 1% 2% 0 2%;
  text-align: left;
  border-right: 1px solid var(--ALTENBlue);
}

.skillsArray, .softSkillsArray {
  margin-bottom: 2%;
}

.mat-raised-button {
  background-color: var(--ALTENBlue);
  color: white;
  vertical-align: bottom;
}

.matrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.chart-container {
  width: 100%;
  height: 50%;
}

.bodySkills{
  width:100%;
  height:100%
}

.button_save {
  margin-left: 30% !important;

}
