.currentSheetInfo {
  margin-left: 2%;
  text-align: left;
}

.currentSheetInfo button {
  margin: auto;
}

.currentSheetInfo p {
    margin: 0;
}

.skillsSheetNameDiv {
  max-width: 100%;
  width: fit-content;
  border: 1px solid var(--ALTENGray);
}

.labelInfos {
  text-align: left;
  margin: 3%;
}

.availabilityTitle {
  text-align:left;
  margin-top: 2%;
}

.availability-title-container {
  display: grid;
  grid-template-columns: 3fr 1fr;
  border-bottom: 1px solid var(--ALTENLightGray);
  border-top: 1px solid var(--ALTENBlue);
}

::ng-deep .mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: blue !important;
}

::ng-deep .mat-checkbox .mat-checkbox-frame {
    border-color: var(--ALTENBlue);
}

::ng-deep .mat-checkbox:not(.mat-checkbox-disabled).mat-accent .mat-checkbox-ripple .mat-ripple-element {
  background-color: var(--ALTENBlue);
}

.availabilityValue {
    margin-top: 3%;
}

.availabilityValue:hover {
  background-color: #d3e7f5;
  cursor: pointer;
}

.checkBoxAvailability {
  margin-top: 3%;
}

.availability-value-container {
  border-bottom: 1px solid var(--ALTENLightGray);
}

.editButton:focus, .cancelButton:focus, .savePersonButton:focus {
  outline: none;
}

.editButton {
  margin-left: 50%;

}

.editIcon {
  color: var(--ALTENDarkGray);
}

.cancelIcon {
  color: red;
}

.savePersonIcon {
  color: green;
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 100%;
}

.infoForm {
  display: flex;
  flex-direction: column;
  padding: 1% 2% 0 2%;
  border-right: 1px solid var(--ALTENBlue);
}

.skillsArrayTitle {
  border-bottom: 1px solid var(--ALTENBlue);
  margin-bottom: 2%;
}

.mat-form-field {
  font-size: 80%;
}

.skillsArrays {
  display: flex;
  flex-direction: column;
  padding: 1% 2% 0 2%;
  text-align: left;
  border-right: 1px solid var(--ALTENBlue);
}

.skillsArray, .softSkillsArray {
  margin-bottom: 2%;
}

.mat-raised-button {
  background-color: var(--ALTENBlue);
  color: white;
  vertical-align: bottom;
}

.matrix {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 90%;
}

.chart-container {
  width: 100%;
  height: 50%;
}

.bodySkills{
  width:100%;
  height:100%
}

.button_save {
  margin-left: 25% !important;
  margin-right: 1% !important;
}

.mat-option.mat-active {
  background-color: var(--ALTENDarkBlue) !important ; 
  color: white !important ; 
}
