table,
td, th {
    border: 1px solid #333;
}

#download{
    color:steelblue; 
    text-decoration:none; 
    font-weight:bold; 
    padding-bottom:4px; 
}

.removeButton{
    color: red;
}

#download:hover{ 
    color:midnightblue; 
    border-bottom:solid 1px silver 
 } 

#documentsTable{
    margin : auto;
}