<div class="admin-document">

  <h1>Documents de l'application</h1>
  <hr>

  <table id="documentsTable">
    <thead>
      <tr>
        <th>Nom</th>
        <th>Date de création</th>
        <th>Collection</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <ng-container *ngFor="let document of getDocuments() ">
        <tr id="{{document.get_id()}}">
          <td>{{document.getDisplayName()}}</td>
          <td>{{document.getDateOfCreation() | date: 'yyyy/MM/dd h:mm:ss a'}}</td>
          <td>{{document.getPath()}}</td>
          <td><button class="removeButton btn" mat-icon-button (click)="removeDocument(document)">x</button><button (click)="editDocument(document)" class="btn" mat-icon-button><i class="material-icons">edit</i></button></td>
        </tr>
      </ng-container>
    </tbody>
  </table>

</div>

<div class="admin-document-forum">
    <h2>Documents affichés dans le menu Forum</h2>
    <mat-form-field>
      <mat-label>Set de document</mat-label>
      <mat-select [(value)]="currentSet">
        <mat-option value="{{currentSet}}" selected>
          2019 - Global
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="lists">
    <div class="example-container">
      <h2>Documents en stock</h2>
      <div
      cdkDropList
      #docsList="cdkDropList"
      [cdkDropListData]="filesForForum"
      [cdkDropListConnectedTo]="[docsForumList]"
      class="example-list"
      (cdkDropListDropped)="drop($event)">
        <div class="example-box" *ngFor="let file of filesForForum" cdkDrag>
          Titre : {{ file.getDisplayName() }}<span class="document-id"> {{ file.get_id() }}</span>
          <ng-container *ngIf="file.getExtension() == 'png'; then iconImage else elseIcon">
          </ng-container>
          <ng-template #elseIcon>
              <ng-container *ngIf="file.getExtension() == 'pdf'; else iconDoc">
                  <mat-icon>picture_as_pdf</mat-icon>
              </ng-container>
          </ng-template>
        </div>
      </div>
    </div>

    <ng-template #iconImage>
        <mat-icon>image</mat-icon>
    </ng-template>
    <ng-template #iconDoc>
        <mat-icon>insert_drive_file</mat-icon>
    </ng-template>
    
    <div class="example-container">
      <h2>Documents dans le menu</h2>
      
      <div
        cdkDropList
        #docsForumList="cdkDropList"
        [cdkDropListData]="filesForum"
        [cdkDropListConnectedTo]="[docsList]"
        class="example-list"
        (cdkDropListDropped)="drop($event)">
          <div class="example-box" *ngFor="let file of filesForum" cdkDrag>
            Titre : {{ file.getDisplayName() }}<span class="document-id"> {{ file.get_id() }}</span>
            <ng-container *ngIf="file.getExtension() == 'png'; then iconImage else elseIcon">
                <mat-icon>image</mat-icon>
            </ng-container>
            <ng-template #elseIcon>
                <ng-container *ngIf="file.getExtension() == 'pdf'; else iconDoc">
                    <mat-icon>picture_as_pdf</mat-icon>
                </ng-container>
            </ng-template>
          </div>
      </div>
    </div>
  </div>

    <form (submit)="submitListForum()">
      <input class="mat-raised-button customButton" type="submit" value="Enregistrer">
    </form>  
</div>