.mat-form-field {
  margin-right: 1%;
}

.dialogTitle {
  color: var(--ALTENDarkBlue) !important;
}

.input {
  color: var(--ALTENDarkBlue) !important;
}

.name {
  color: var(--ALTENDarkBlue) !important;
}
