<h2 mat-dialog-title>Ajout de la disponibilité</h2>

<mat-dialog-content>
  <div class="firstPanel">
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Date de début" [(ngModel)]="initDate">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Date de fin" [(ngModel)]="finalDate">
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="save()">Valider</button>
  </div>

  <div class="secondPanel">
    <mat-form-field>
      <input matInput placeholder="Disponible dans" [(ngModel)]="duration" type="number">
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="durationType">
        <mat-option value="DAY">Jours</mat-option>
        <mat-option value="WEEK">Semaines</mat-option>
        <mat-option value="MONTH">Mois</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="save()">Valider</button>
  </div>
</mat-dialog-content>
