<h2 mat-dialog-title class="dialogTitle">Ajout de la disponibilité</h2>

<mat-dialog-content>
  <div class="firstPanel" (click)="enableFirstPanel()">
    <mat-form-field>
      <input matInput [matDatepicker]="startPicker" placeholder="Date de début" [(ngModel)]="initDate" [disabled]="isFirstPanelDisabled">
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>

    <mat-form-field>
      <input matInput [matDatepicker]="endPicker" placeholder="Date de fin" [(ngModel)]="finalDate" [disabled]="isFirstPanelDisabled">
      <mat-hint align="start">* Champ facultatif</mat-hint>
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <button mat-raised-button class="saveButton" color="primary" (click)="save()" [disabled]="isFirstPanelDisabled">Valider</button>
  </div>

  <div class="separationBorder"></div>

  <div class="secondPanel" (click)="enableSecondPanel()">
    <mat-form-field>
      <input matInput placeholder="Disponible dans" [(ngModel)]="duration" type="number" min="0" [disabled]="isSecondPanelDisabled">
    </mat-form-field>

    <mat-form-field>
      <mat-select [(ngModel)]="durationType" [disabled]="isSecondPanelDisabled">
        <mat-option value="DAY">Jours</mat-option>
        <mat-option value="WEEK">Semaines</mat-option>
        <mat-option value="MONTH">Mois</mat-option>
      </mat-select>
    </mat-form-field>
    <button mat-raised-button class="saveButton" color="primary" (click)="save()" [disabled]="isSecondPanelDisabled">Valider</button>
  </div>
</mat-dialog-content>
