<button (click)=goBackToSkillsForm()>Go back !</button>



<div class="color">

    <div class="grid-container">

        <div class="left">
            <div class="identity">
                <h5 id="titre">DIPLOME</h5>
                <div id="diplome">
                    <img src="../../../../../assets/images/competence_icon.svg" />
                    <h5>Ingénieur-Epitech 2019</h5>
                </div>
                <div class="titre_soft">
                    <h5 id="titre">COMPÉTENCES TRANSVERSES</h5>
                    <div class="grid-Soft">
                        <p>softskill 1</p>
                        <p>softskill 2 </p>
                        <p>softskill 3</p>
                        <p>softskill 4</p>
                    </div>
                </div>
            </div>
            <div class="right">
                <div class="titre_cpt">
                    <h5 id="titre">COMPÉTENCES</h5>
                    <div class="grid-Skills">
                        <p>skill 8</p>
                        <p>skill 2</p>
                        <p>skill 2</p>
                        <p>skill 4</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="matrices">
            c'est ici les matrices
        </div>
    </div>
    <div class="footer">
        <div class="description ">
            <div>
                <p> ok </p>
                <p> ok </p>
            </div>
            <div>
                <p> ok </p>
                <p>ok </p>
            </div>
        </div>
        <div></div>
    </div>
</div>