/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body{
    margin: auto;
    text-align: center;
}

@media (max-width :400px){
    #logo{
        margin-top: 15%;
        margin-left: 2%;
    }

    a,body{
        font-size: 2.3vw;
    }

    h6{
        font-size: 2.35vw;
    }

    h5{
        font-size: 2.45vw;
    }

    h4{
        font-size: 2.55vw; 
    }

    h3{
        font-size: 2.65vw;
    }

    h2{
        font-size: 2.8vw;
    }

    h1{
        font-size: 3vw;
    }
    .allTagWords{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 10%;
    }
}

@media (min-width : 400px) and (max-width:600px){
    a,body{
        font-size: 2.2vw;
    }

    h6{
        font-size: 2.25vw;
    }

    h5{
        font-size: 2.35vw;
    }

    h4{
        font-size: 2.45vw; 
    }

    h3{
        font-size: 2.55vw;
    }

    h2{
        font-size: 2.7vw;
    }

    h1{
        font-size: 2.9vw;
    }

    #logo{
        margin-top: 10%;
        margin-left: 2%;
    }
    .allTagWords{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 7.5%;
    }
}

@media (min-width:600px) and (max-width:900px) {
    a,body{
        font-size : 1.7vw;
    }

    h6{
        font-size: 1.75vw;
    }

    h5{
        font-size: 1.85vw;
    }

    h4{
        font-size: 1.95vw; 
    }

    h3{
        font-size: 2.05vw;
    }

    h2{
        font-size: 2.2vw;
    }

    h1{
        font-size: 2.35vw;
    }

    #logo{
        margin-top: 6%;
        margin-left: 1.7%;
    }
    .allTagWords{
        grid-template-columns: repeat(3,1fr);
        grid-column-gap: 5%;
    }
}

@media (min-width:900px) and (max-width:1200px){
    a,body{
        font-size : 1.35vw;
    }

    h6{
        font-size: 1.39vw;
    }

    h5{
        font-size: 1.5vw;
    }

    h4{
        font-size: 1.6vw; 
    }

    h3{
        font-size: 1.7vw;
    }

    h2{
        font-size: 1.85vw;
    }

    h1{
        font-size: 2vw;
    }

    #logo{
        margin-top: 4.5%;
        margin-left: 1.4%;
    }
    .allTagWords{
        grid-template-columns: repeat(4,1fr);
        grid-column-gap: 5%;
    }
} 

@media (min-width:1200px) and (max-width:1500px){
    a,body{
        font-size: 1.1vw;
    }

    h6{
        font-size: 1.16vw;
    }

    h5{
        font-size: 1.25vw;
    }

    h4{
        font-size: 1.35vw; 
    }

    h3{
        font-size: 1.45vw;
    }

    h2{
        font-size: 1.6vw;
    }

    h1{
        font-size: 1.8vw;
    }

    #logo{
        margin-top: 3.3%;
        margin-left: 1.2%;
    }
    .allTagWords{
        grid-template-columns: repeat(5,1fr);
    }
}

@media (min-width:1500px) {
    a,body,h1,h2,h3,h4,h5,h6{
        font-size: .95vw; 
    }

    h6{
        font-size: .99vw;
    }

    h5{
        font-size: 1.1vw;
    }

    h4{
        font-size: 1.2vw; 
    }

    h3{
        font-size: 1.3vw;
    }

    h2{
        font-size: 1.45vw;
    }

    h1{
        font-size: 1.6vw;
    }

    #logo{
        margin-top: 3%;
        margin-left: 1%;
    }
    .allTagWords{
        grid-template-columns: repeat(5,1fr);
    }
}