<button mat-raised-button class="newSheetButton" color="primary" (click)="createSkillsSheetModal()">Créer</button>
<mat-form-field class="searchBar">
  <input matInput (keyup)="applyFilterSkillsSheets($event.target.value)" placeholder="Recherche" (keyup.enter)="doAddSkill()" [(ngModel)]="rechercheInput">
</mat-form-field>

<div class =gridContainer>
  <div class="motCles">
    <p>cc cv</p>
  </div>

  <div class="skillSheetInformation mat-elevation-z8">
    <table mat-table [dataSource]="skillsSheetDataSource" matSort class="container">
<!-- 
        <ng-container [matColumnDef]="fixDisplayedColumns[0]" class="firstColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[0] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.mailPersonAttachedTo }} </td>
          </ng-container>
    
          <ng-container [matColumnDef]="displayedColumns[1]" class="secondColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[1] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
    
          <ng-container [matColumnDef]="fixDisplayedColumns[2]" class="thirdColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[2] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.averageSoftSkillsGrade }} </td>
          </ng-container> -->

      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
        <div class='col'>
          <th mat-header-cell *matHeaderCellDef mat-sort-header> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </div>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToSkillsSheet(row)"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons></mat-paginator>

  </div>
</div>
