<!-- <button mat-raised-button class="newSheetButton" color="primary" (click)="createSkillsSheetModal()">Créer</button>-->


<div class =gridContainer>
    <div class =gridContainer>
      <div class="motCles">
        <mat-accordion>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <p>Filtres : </p>
              
            </mat-expansion-panel-header>
        
            <mat-form-field class="searchBar">
                <input matInput (keyup)="applyFilterSkillsSheets($event.target.value)" placeholder="ville, métier, disponibilité ..." (keyup.enter)="doAddSkill()" [(ngModel)]="rechercheInput">
              </mat-form-field>
            <p>Thierry Henry</p>
            <p>Chef de projet</p>
        
            <h2>Exemple d'un champ d'auto-complétion simple</h2>
<form (ngSubmit)="onSubmitForm()">
  <mat-form-field>
    <input type="text" placeholder="Rechercher" aria-label="Number" matInput [formControl]="myControl" [matAutocomplete]="auto">
    <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
      <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
        {{option}}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
</form>
<h3>Mots-clés pris en compte :</h3>
<div class="allTagWords">
  <div class="tagWord" *ngFor="let tagWord of tagWords">
    <img class="closeTag" src='../../assets/images/close.png' alt="Supprimer {{ tagWord }} en tant que mot-clé" (click)="deleteTagWord($event)">
    <p>{{ tagWord }}</p>
  </div>
</div>
<div *ngIf="result !== undefined" id="results">
  <p>{{ result.name }} {{ result.forname }}, mail : {{ result.mail }}</p>
</div>
          </mat-expansion-panel>
        
          <mat-expansion-panel>
              <mat-expansion-panel-header>

            <p>
              Note de fiabilité : 
            </p>
          </mat-expansion-panel-header>
        
          <div class="container">
              <div class="starrating risingstar d-flex justify-content-center flex-row-reverse">
                  <input type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4 star">4</label>
                  <input type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3 star">3 ou +</label>
                  <input type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2 star">2 ou +</label>
                  <input type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1 star">1 ou +</label>
              </div>
        </div>	
          </mat-expansion-panel>
        
        </mat-accordion>
  </div>

  <div class="skillSheetInformation">
    <table mat-table [dataSource]="skillsSheetDataSource">
<!-- 
        <ng-container [matColumnDef]="fixDisplayedColumns[0]" class="firstColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[0] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.mailPersonAttachedTo }} </td>
          </ng-container>
    
          <ng-container [matColumnDef]="displayedColumns[1]" class="secondColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[1] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
    
          <ng-container [matColumnDef]="fixDisplayedColumns[2]" class="thirdColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[2] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.averageSoftSkillsGrade }} </td>
          </ng-container> -->
    

      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToSkillsSheet(row)"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons></mat-paginator>

  </div>
</div>
