<!-- <button mat-raised-button class="newSheetButton" color="primary" (click)="createSkillsSheetModal()">Créer</button>-->


<div class =gridContainer>
    <div class =gridContainer>
      <div class="motCles" >
        <mat-accordion>
    
          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <h6>Filtres : </h6>
              
            </mat-expansion-panel-header>
        
            <mat-form-field class="searchBar">
                <input matInput placeholder="ville, métier, disponibilité ..." (keyup.enter)="doAddFilter()" [(ngModel)]="rechercheInput">
              </mat-form-field>
            <div class="allTagWords">
                <div class="tagWord" *ngFor="let tagWord of filter">
                      
                  
                  <span>{{ tagWord }}</span>
                  <img class="closeTag" src='../../assets/images/close.png' alt="{{ tagWord }}" (click)="deleteTagWord($event)">
                </div>
              </div>
        
              
          </mat-expansion-panel>
        
          <mat-expansion-panel>
              <mat-expansion-panel-header>

            <h6>
              Note de fiabilité : 
            </h6>
          </mat-expansion-panel-header>
        
          <div class="container inline">
          
              <div class="starrating  inline risingstar d-flex justify-content-center flex-row-reverse">
                  <p> & plus</p>
                  <input (click)="minRatingValue($event)" type="radio" id="star4" name="rating" value="4" /><label for="star4" title="4/4"></label>
                  <input (click)="minRatingValue($event)" type="radio" id="star3" name="rating" value="3" /><label for="star3" title="3/4"></label>
                  <input (click)="minRatingValue($event)" type="radio" id="star2" name="rating" value="2" /><label for="star2" title="2/4"></label>
                  <input (click)="minRatingValue($event)" type="radio" id="star1" name="rating" value="1" /><label for="star1" title="1/4"></label>
              </div>
        </div>	
          </mat-expansion-panel>
        
          <h5  class="titreCpt">Filtres Compétences : </h5>
          <div class="allTagWordsCpt">
              <div class="tagWordCpt" *ngFor="let filter of compFilter">
                <img class="closeTag" src='../../assets/images/close.png' alt="{{ filter }}" (click)="deleteSkillWord($event)">
                <p>{{ filter }}</p>
              </div>
            </div>
        </mat-accordion>
  </div>

  <div class="skillSheetInformation">
      <mat-form-field class="searchBarCpt">
          <input matInput placeholder="Compétence et Soft Skill " (keyup.enter)="doAddSkill()" [(ngModel)]="rechercheInputCpt">
        </mat-form-field>
        
      
<!--     <table mat-table [dataSource]="skillsSheetDataSource">

        <ng-container [matColumnDef]="fixDisplayedColumns[0]" class="firstColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[0] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.mailPersonAttachedTo }} </td>
          </ng-container>
    
          <ng-container [matColumnDef]="displayedColumns[1]" class="secondColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[1] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.name }} </td>
          </ng-container>
    
          <ng-container [matColumnDef]="fixDisplayedColumns[2]" class="thirdColumn">
            <th mat-header-cell *matHeaderCellDef> {{fixDisplayedColumns[2] | titlecase }} </th>
            <td mat-cell *matCellDef="let element"> {{ element.averageSoftSkillsGrade }} </td>
          </ng-container>
    

      <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
      </ng-container>
        
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="navigateToSkillsSheet(row)"></tr>

    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons></mat-paginator> -->

  </div>
</div>
