.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }
  

.allTagWords{
    display: grid;
}

.tagWord{
    color :#043962;
    margin: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 40%;
    background-color: #E6E6E9;
    border-radius: 5px;
    margin-bottom: 1%; 
    transition: linear .2s;
    min-width: 75px;
}

.tagWord p{
    margin:auto;
}

.closeTag{
    filter : brightness(55%);
    margin: auto;   
    width: 60%;
    min-width: 10px;
    transition : linear .2s;
}

.closeTag:hover{
    filter : brightness(0) invert(1);
}
