.navbarContent{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}

.header nav{
    flex-direction: row;
    flex-wrap: wrap;
}

.headNavbar, .navbarContent {
    width: 100%;
}

.navbar {
    position: relative;
    min-height: 50px;
    margin-bottom: 20px;
    border: 1px solid transparent;
}

ul, ol {
    margin-top: 0;
    margin-bottom: 10px;
}

* {
    box-sizing: border-box;
}

.headMenu {
    margin-left: 15%;
    margin-right: 15%;
    transition: linear .5s;
    list-style-type: none;
}

.dropup, .dropdown {
    position: relative;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}