<app-header-user></app-header-user>
<div class="slider">
  <mat-slide-toggle color="primary"> Passage consultant </mat-slide-toggle>
</div>
<div class="grid-container">
  <div class="infoForm">
    <mat-form-field>
      <mat-label>Diplôme</mat-label>
      <input type="text" placeholder="Diplôme le plus élevé" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Employeur</mat-label>
      <input type="text" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Métier</mat-label>
      <input type="text" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Disponibilité</mat-label>
      <input type="date" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Année de diplôme</mat-label>
      <input type="number" min="1960" max="2100" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Années d'expérience</mat-label>
      <input type="number" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prétention salariale</mat-label>
      <input type="number" matInput >
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>

    <app-array-skillsUpdates [displayedColumns]="lastModifDisplayedColumns" [dataSourceArray]="lastModificationsArray" [headerRowHidden]="headerRowHiddenModif" ></app-array-skillsUpdates>

    <mat-form-field style="margin-top: 2%;">
      <mat-label>Avis</mat-label>
      <mat-select>
        <mat-optgroup label="ED">
          <mat-option value>A</mat-option>
          <mat-option value>B</mat-option>
          <mat-option value>C</mat-option>
          <mat-option value>D</mat-option>
        </mat-optgroup>
        <mat-optgroup label="EP">
          <mat-option value>A</mat-option>
          <mat-option value>B</mat-option>
          <mat-option value>C</mat-option>
          <mat-option value>D</mat-option>
        </mat-optgroup>
        <mat-option value>NOK</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Commentaire"></textarea>
    </mat-form-field>
  </div>

  <div class="skillsArrays">
    <app-array-skills [displayedColumns]="skillsDisplayedColumns" [dataSourceArray]="skillsArray" [headerRowHidden]="headerRowHiddenSkills" ></app-array-skills>
    <app-array-skills [displayedColumns]="softSkillsDisplayedColumns" [dataSourceArray]="softSkillsArray" [headerRowHidden]="headerRowHiddenSkills" ></app-array-skills>
  </div>

  <div class="matrix">
    <div class="chart-container">
      <canvas id="myChartCompetence"></canvas>
    </div>
    <div class="chart-container">
      <canvas id="myChartSoftSkill"></canvas>
    </div>
  </div>
</div>
