<app-header-user></app-header-user>
<div class="grid-container">
  <div class="infoForm">
    <mat-form-field (ngSubmit)="onSubmitForm()">
      <mat-label>Diplôme</mat-label>
      <input type="text" placeholder="Diplôme le plus élevé" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Employeur</mat-label>
      <input type="text" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Métier</mat-label>
      <input type="text" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Disponibilité</mat-label>
      <input type="date" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Année de diplôme</mat-label>
      <input type="number" min="1960" max="2100" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Années d'expérience</mat-label>
      <input type="number" matInput >
    </mat-form-field>
    <mat-form-field>
      <mat-label>Prétention salariale</mat-label>
      <input type="number" matInput >
      <span matPrefix>€&nbsp;</span>
    </mat-form-field>

    <table mat-table [dataSource]="lastModificationsArrayDS">
      <!-- Manager Column -->
      <ng-container matColumnDef="manager">
        <th mat-header-cell *matHeaderCellDef> Manager </th>
        <td mat-cell *matCellDef="let element"> {{element.manager}} </td>
      </ng-container>

      <!-- Date Column -->
      <ng-container matColumnDef="date">
        <th mat-header-cell *matHeaderCellDef> Date </th>
        <td mat-cell *matCellDef="let element"> {{element.date}} </td>
      </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element"> {{element.action}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="lastModifDisplayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: lastModifDisplayedColumns;"></tr>
    </table>

    <mat-form-field style="margin-top: 2%;">
      <mat-label>Avis</mat-label>
      <mat-select>
        <mat-optgroup label="ED">
          <mat-option value>A</mat-option>
          <mat-option value>B</mat-option>
          <mat-option value>C</mat-option>
          <mat-option value>D</mat-option>
        </mat-optgroup>
        <mat-optgroup label="EP">
          <mat-option value>A</mat-option>
          <mat-option value>B</mat-option>
          <mat-option value>C</mat-option>
          <mat-option value>D</mat-option>
        </mat-optgroup>
        <mat-option value>NOK</mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field>
      <textarea matInput placeholder="Commentaire"></textarea>
    </mat-form-field>
  </div>

  <div class="skillsArrays">
    <mat-form-field>
      <input matInput (keyup)="applyFilterSkills($event.target.value)" placeholder="Recherche">
    </mat-form-field>
    <table mat-table [dataSource]="skillsArrayDS" class="skillsArray">

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Grade Column -->
      <ng-container matColumnDef="grade">
        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: skillsDisplayedColumns;"></tr>
    </table>

    <mat-form-field>
      <input matInput (keyup)="applyFilterSoftSkills($event.target.value)" placeholder="Recherche">
    </mat-form-field>
    <table mat-table [dataSource]="softSkillsArrayDS" class="softSkillsArray">

      <!-- Category Column -->
      <ng-container matColumnDef="category">
        <td mat-cell *matCellDef="let element"> {{element.category}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
      </ng-container>

      <!-- Grade Column -->
      <ng-container matColumnDef="grade">
        <td mat-cell *matCellDef="let element"> {{element.grade}} </td>
      </ng-container>

      <tr mat-row *matRowDef="let row; columns: softSkillsDisplayedColumns;"></tr>
    </table>
  </div>

  <div class="matrix">
    <div style="width:270px; height:360px;">
      <canvas id="myChartCompetence"></canvas>
    </div>
    <div style="width:270px; height:360px;">
      <canvas id="myChartSoftSkill"></canvas>
    </div>
  </div>
</div>
